log/development.log
tmp/cache/assets/*
tmp/cache/bootsnap/*
tmp/cache/bootsnap/load-path-cache
tmp/cache/bootsnap/compile-cache-iseq/5a/efd7e67e9d6e7a
db/test.sqlite3
log/test.log
tmp/cache/bootsnap/compile-cache-iseq/5a/efd7e67e9d6e7a
tmp/cache/bootsnap/compile-cache-iseq/68/9d326b7711198c
tmp/cache/bootsnap/compile-cache-iseq/5a/efd7e67e9d6e7a
tmp/cache/bootsnap/load-path-cache
